#recomDiv {
  position: relative;
  display: inline;
}

#netflix {
  width: 350px;
  height: 120px;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 0;
}

button {
  position: absolute;
  height: 30px;
  width: 165px;
  /* padding: 0; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin: auto auto; */
  margin-top: -100px;

  z-index: 1;
  opacity: 0;
}
button:hover {
  opacity: 1;
}
